
.text-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 32, 32, 0.83);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 0px 400px;
    border-radius: 20px;
    padding: 30px;
    flex-wrap: wrap;
    
    margin-bottom: 200px;
    
  }
  
  .text{
    height: 50px;
    width: 60%;
    
    background-color: transparent;
    font-size: 40px;
    text-align: right;
    border-radius: 5px;
  
  }
  .btnTask2{
    height: 50px;
    width: 35%;
    margin-left: 20px;
    color: rgba(34, 32, 32, 0.83);
    font-size: 26px;
    font-weight: bold;
    border-style: none;
    border-radius: 5px;
  }
  
  .array{
    
    background-color: rgba(255, 255, 255,0.9);
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
    color: rgba(34, 32, 32, 0.83);
    font-size: 20px;
    word-wrap: break-word;

  }